<div class="container">
           <div class="row">
              <div class="col-md-12">
                    <h2>{{headLine}}</h2>
               <img src="/images/main.jpg"
                    class="img-responsive" alt="iLoveMyCity"/>
              </div>
           </div>
</div>
